<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/a/projectList">
                        <i class="fas fa-chart-bar"></i>Projects</a>
                </li>
                <li>
                    <a href="/a/experienceList">
                        <i class="fas fa-table"></i>Experience</a>
                </li>
                <li>
                    <a href="/a/educationList">
                        <i class="far fa-check-square"></i>Education</a>
                </li>
                <li>
                    <a href="/a/inbox">
                        <i class="fas fa-calendar-alt"></i>Inbox</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>